.advantages {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 116px;

  background-color: $ghost-white;

  @media (max-width: 1199px) {
    padding-top: 95px;
  }

  @media (max-width: 767px) {
    padding-top: 67px;
    padding-bottom: 30px;
  }
}

.advantages h2 {
  margin: 0 auto 67px auto;

  font-size: 49px;
  line-height: 49px;
  font-family: "BN", "Arial", sans-serif;
  text-align: center;
  color: $Sapphire;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: 1199px) {
    margin-bottom: 49px;

    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
  }

  @media (max-width: 767px) {
    margin-bottom: 53px;

    font-size: 32px;
    line-height: 32px;
  }
}

.advantages__wrapper {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0;


  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    max-width: 678px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.advantages__list {
  display: grid;
  margin: 0 auto;
  padding: 0;

  column-gap: 57px;

  grid-template-columns: 350px 243px 350px;
  row-gap: 153px;

  @media (max-width: 1199px) {
    margin: 0 auto 50px auto;

    column-gap: 0;

    grid-template-columns: 1fr 1fr;
    row-gap: 0;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
  }
}

.advantages__list--right {
  padding-left: 62px;
}

.advantages__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: 1199px) {
    flex-direction: row;
  }

  @media (max-width: 767px) {
    flex-direction: column;
    width: 100%;
    margin-bottom: 41px;
  }
}

.advantages__item--900 {
  position: relative;

  padding-left: 32px;

  @media (max-width: 1199px) {
    margin-bottom: 44px;
    padding: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -82px;
    left: -23px;

    width: 340px;
    height: 1px;

    background-color: $torch-red;

    @media (max-width: 1199px) {
      display: none;
    }
  }
}

.advantages__item--70 {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -76px;
    left: 4px;

    width: 340px;
    height: 1px;

    background-color: $torch-red;

    @media (max-width: 1199px) {
      display: none;
    }
  }

  @media (max-width: 1199px) {
    margin-bottom: 44px;
    padding-left: 13px;
  }

  @media (max-width: 767px) {
    margin-bottom: 45px;
    padding-left: 0;
  }
}

.advantages__item--900 .advantages__item-count {
  @media (max-width: 767px) {
    margin-bottom: 6px;
  }
}

.advantages__item--900 .advantages__item-block {
  @media (max-width: 767px) {
    padding-right: 50px;
    padding-left: 50px;
  }
}

.advantages__item--70 .advantages__item-count {
  @media (max-width: 767px) {
    margin-bottom: 11px;
  }
}

.advantages__item--70 .advantages__item-block {
  @media (max-width: 767px) {
    padding-right: 23px;
    padding-left: 23px;
  }
}

.advantages__item--70 .advantages__item-block h3 {
  margin-bottom: 3px;

  @media (max-width: 1199px) {
    margin: 0;
  }
}

.advantages__item--350 {
  padding-left: 28px;

  @media (max-width: 1199px) {
    padding-left: 0;
  }

  @media (max-width: 767px) {
    margin-bottom: 39px;
  }
}

.advantages__item--350 .advantages__item-block h3 {
  margin-bottom: 3px;
}

.advantages__item--350 .advantages__item-count {
  margin-right: 26px;

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 6px;
  }
}

.advantages__item--350 .advantages__item-block p {
  margin-top: 5px;
}

.advantages__item--350 .advantages__item-block {
  @media (max-width: 767px) {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.advantages__item--5 {
  @media (max-width: 1199px) {
    padding-left: 13px;
  }

  @media (max-width: 767px) {
    padding-left: 0;
  }
}

.advantages__item--5 h3 {
  margin-top: 5px;
  margin-bottom: 3px;
}

.advantages__item--5 .advantages__item-block p {
  margin-top: 5px;
}

.advantages__item--5 .advantages__item-block {
  @media (max-width: 767px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.advantages__item--5 .advantages__item-count {
  margin-right: 31px;

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

.advantages__item-count {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 30px 0 0;

  @media (max-width: 1199px) {
    margin-right: 25px;
  }

  @media (max-width: 767px) {
    align-items: center;
    margin-right: 0;
  }
}

.advantages__item-count p {
  margin: 0;

  font-weight: 700;
  font-size: 71px;
  line-height: 60px;
  color: transparent;

  background-image: $number-gradient1;
  background-clip: text;

  @media (max-width: 1199px) {
    font-size: 60px;
    line-height: 47px;
  }

  @media (max-width: 767px) {
    font-size: 58px;
  }
}

.advantages__item-count--color p {
  color: transparent;

  background-image: $number-gradient;
  background-clip: text;
}

.advantages__item-count span {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $persian-blue;
}

.advantages__item-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 767px) {
    align-items: center;
    width: 100%;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.advantages__item-block h3 {
  margin: 0;

  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: $Sapphire;

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 767px) {
    text-align: center;
  }
}

.advantages__item-block p {
  margin: 0;

  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $Sapphire;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.advantages__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 243px;
  padding: 61px 0;

  text-align: center;
  color: $color-default-white;

  background-color: $resolution-blue;

  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 1;

  @media (max-width: 1199px) {
    margin: 0 auto 41px auto;
    padding-top: 10px;
    padding-bottom: 35px;

    grid-column-end: 3;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-row-start: 2;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 46px;
    padding-top: 17px;
    padding-bottom: 40px;
  }
}

.advantages__center p {
  max-width: 172px;
  margin: 0 auto;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.advantages__center-count {
  margin-bottom: 36px;

  @media (max-width: 1199px) {
    margin-bottom: 12px;
  }

  @media (max-width: 767px) {
    margin-bottom: 5px;
  }
}

.advantages__center-count p {
  margin: 4px auto 0 auto;

  font-weight: 700;
  font-size: 71px;
  line-height: 60px;

  @media (max-width: 1199px) {
    margin-top: 30px;
    margin-bottom: 3px;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.advantages__center-count span {
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;

  @media (max-width: 1199px) {
    font-size: 22px;
    line-height: 39px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
  }
}
