.advantages {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: $ghost-white;
  position: relative;

  @media (max-width: 1165px) {
    padding-top: 95px;
  }

  @media (max-width: 767px) {
    padding-top: 67px;
  }
}

.advantages h2 {
  margin: 0 auto;
  font-family: "Bebas Neue", "Arial", cursive;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $Sapphire;
  margin-bottom: 65px;

  @media (max-width: 1165px) {
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 47px;
  }
}

.advantages__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1165px;


  @media (max-width: 1199px) {
    width: 678px;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.advantages__list {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 992px;
  column-gap: 327px;

  @media (max-width: 1199px) {
    margin: auto;
    width: 678px;
    margin-bottom: 50px;
    column-gap: 10px;
  }

  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 0;
  }
}

.advantages__list--right {
  padding-left: 62px;
}

.advantages__item {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 350px;
  align-items: center;

  @media (max-width: 1199px) {
    flex-direction: row;
    width: 340px;
  }

  @media (max-width: 767px) {
    width: 100%;
    flex-direction: column;
    margin-bottom: 19px;
  }
}

.advantages__item--900 {
 margin-bottom: 157px;
 position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 340px;
    background-color: $torch-red;
    bottom: -78px;


    @media (max-width: 1165px) {
      display: none;
    }
  }
  @media (max-width: 1165px) {
    margin-bottom: 291px;
  }
}

.advantages__item--70 {
  margin-bottom: 155px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 340px;
    background-color: $torch-red;
    bottom: -76px;
    left: 4px;

    @media (max-width: 1165px) {
      display: none;
    }
  }

  @media (max-width: 1165px) {
    margin-bottom: 291px;
  }
}

.advantages__item--350 .advantages__item-count {
  margin-right: 23px;
}

.advantages__item--350 .advantages__item-block p {
  margin-top: 5px;
}

.advantages__item--5 h3 {
  margin-bottom: 3px;
  margin-top: 5px;
}

.advantages__item--5 .advantages__item-block p {
  margin-top: 5px;
}

.advantages__item-count {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 30px;

  @media (max-width: 1165px) {
    margin-right: 25px;
  }

  @media (max-width: 767px) {
    align-items: center;
    margin-right: 0;
  }
}

.advantages__item-count p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 71px;
  line-height: 60px;
  color: transparent;
  background-clip: text;
  background-image: $number-gradient1;

  @media (max-width: 1199px) {
    font-size: 60px;
    line-height: 90px;
  }

  @media (max-width: 767px) {
    font-size: 58px;
  }
}

.advantages__item-count--color p {
  color: transparent;
  background-clip: text;
  background-image: $number-gradient;
}

.advantages__item-count span {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $persian-blue;
}

.advantages__item-block {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 767px) {
    align-items: center;
    width: 100%;
    padding-right: 70px;
    padding-left: 70px;
  }
}

.advantages__item-block h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  color: $Sapphire;

  @media (max-width: 1199px) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (max-width: 767px) {
    text-align: center;
  }
}

.advantages__item-block p {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: $Sapphire;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.advantages__center {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 243px;
  background-color: $resolution-blue;
  color: $color-default-white;
  text-align: center;
  padding-top: 59px;
  padding-bottom: 56px;
  position: absolute;
  left: 41%;
  top: 239px;

  @media (max-width: 1199px) {
    margin: 0 auto;
    width: 442px;
    margin-bottom: 50px;
    left: 21%;
    top: 303px;
    padding-top: 10px;
    padding-bottom: 35px;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding-top: 48px;
    padding-bottom: 40px;
  }
}

.advantages__center p {
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 172px;
}

.advantages__center-count {
  margin: 0;
  padding: 0;
  margin-bottom: 36px;

  @media (max-width: 1199px) {
    margin-bottom: 12px;
  }

  @media (max-width: 767px) {
    margin-bottom: 5px;
  }
}

.advantages__center-count p {
  margin: 0 auto;
  padding: 0;
  font-weight: 700;
  font-size: 71px;
  line-height: 60px;
  margin-bottom: 6px;
  margin-top: 4px;

  @media (max-width: 1199px) {
    margin-top: 30px;
  }

  @media (max-width: 767px) {
    margin-bottom: 0;
  }
}

.advantages__center-count span {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;

  @media (max-width: 767px) {
    font-size: 22px;
  }
}
