.coaches {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 117px;
  position: relative;

  @media (max-width: 1199px) {
    margin-bottom: 100px;
  }

  @media (max-width: 767px) {
    margin-bottom: 70px;
  }
}

.coaches h2 {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  font-family: "BN", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 2px;
  color: $Sapphire;
  margin-bottom: 52px;
  text-align: left;

  @media (max-width: 1199px) {
    width: 100%;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 42px;
    text-align: center;
    padding-left: 0;
  }

  @media (max-width: 767px) {
    margin: 0 auto;
    width: 150px;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 45px;
    padding-left: 0;
  }
}

.coaches__slider {
  margin: 0 auto;
  padding: 0;
  width: 1165px;
  height: 294px;
  overflow: hidden;
  position: relative;

  @media (max-width: 1355px) {
    width: 864px;
  }

  @media (max-width: 1199px) {
    width: 568px;
  }

  @media (max-width: 767px) {
    width: 226px;
    height: 274px;
  }
}

.coaches__toggle {
  position: relative;
  width: 100px;
  display: block;
  margin: 0 auto;
}

.coaches__toggle-prev::after {
  position: absolute;
  content: "";
  background-image: url("../img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 32px;
  top: 131px;
  left: -586px;
  cursor: pointer;
  opacity: 1;

  @media (max-width: 1355px) {
    left: -436px;
  }

  @media (max-width: 1199px) {
    left: -289px;
  }

  @media (max-width: 767px) {
    left: -98px;
    top: 120px;
    width: 12px;
    height: 28px;
  }
}

.coaches__toggle-prev:hover::after {
  @media screen and (min-width: 1200px) {
    opacity: 0.5;
  }
}

.coaches__toggle-next::before {
  position: absolute;
  content: "";
  background-image: url("../img/svg/arrow-right.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 32px;
  left: 670px;
  top: 131px;
  cursor: pointer;
  opacity: 1;

  @media (max-width: 1355px) {
    left: 510px;
  }

  @media (max-width: 1199px) {
    left: 372px;
  }


  @media (max-width: 767px) {
    background-image: url("../img/svg/arrow-left.svg");
    transform: rotate(180deg);
    left: 183px;
    top: 127px;
    width: 12px;
    height: 28px;
  }
}

.coaches__toggle-next:hover::before {
  @media screen and (min-width: 1200px) {
    opacity: 0.5;
  }
}

.coaches__list {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 9999px;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;

  @media (max-width: 1199px) {
    transform: translateX(-601px);
  }

  @media (max-width: 767px) {
    transform: translateX(-616px);
  }
}

.coaches__info {
  margin: 0;
  padding: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  z-index: 1;
  top: 0;
  color: $color-default-white;
  background-color: $background-coach;
  padding-top: 55px;
  padding-bottom: 40px;
  padding-left: 5px;
  height: 294px;
  overflow-y: auto;
  scrollbar-width: none;

  @media (max-width: 767px) {
    padding-top: 45px;
    padding-left: 56px;
    align-items: flex-start;
  }
}

.coaches__info::-webkit-scrollbar {
  scrollbar-width: none;
}

.is-active .coaches__info {
  display: flex;
}

.coaches__info h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.coaches__info p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $spindle;
  margin-bottom: 30px;
  padding-left: 3px;

  @media (max-width: 767px) {
    padding-left: 47px;
  }
}

.coaches__info-list {
  margin: 0;
  padding: 0;
  padding-left: 23px;
  display: flex;
  flex-direction: column;

  @media (max-width: 767px) {
    padding-left: 10px;
  }
}

.coaches__info-list li {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 21px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color: $color-default-white;
    border-radius: 52%;
    top: 8px;
    left: -17px;
  }
}

.coaches__item {
  margin: 0;
  padding: 0;
  width: 260px;
  display: block;
  margin-right: 40px;
  position: relative;
  transition: all 0.5s ease-out;

  @media (max-width: 1199px) {
    width: 268px;
    margin-right: 32px;
  }

  @media (max-width: 767px) {
    margin-right: 56px;
    width: 244px;
  }
}

.coaches__img img {
  @media (max-width: 1199px) {
    width: 100%;
  }
}

.coaches__item:hover {
  @media screen and (min-width: 1200px) {
    .coaches__content span {
      display: none;
    }

    .coaches__info {
      display: flex;
    }
  }
}

.coaches__content {
  position: relative;
}

.coaches__content span {
  position: absolute;
  bottom: 24px;
  left: 78px;
  margin: 0;
  padding: 0;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $color-default-white;

  @media (max-width: 1199px) {
    bottom: 32px;
    left: 81px;
  }
}

.is-disabled span {
  display: none;
}
