.description {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  margin-bottom: 230px;

  @media (max-width: 1199px) {
    width: 678px;

    margin-top: 80px;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-top: 49px;
    margin-bottom: 290px;
  }
}

.description__wrapper {
  margin: 0;
  padding: 0;
  width: 1160px;
  padding-left: 59px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 1199px) {
    width: 678px;
    padding-left: 0;
    margin-bottom: 43px;
    flex-direction: column;
  }

  @media (max-width: 767px) {
    width: 100%;
    margin-bottom: 35px;
  }
}

.description__container {
  margin: 0 auto;
  padding: 0;
  width: 435px;

  @media (max-width: 1199px) {
    text-align: center;
    width: 510px;
  }

  @media (max-width: 767px) {
    text-align: left;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.description__container h2 {
  font-family: "Bebas Neue", "Arial", cursive;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $Sapphire;
  margin-bottom: 13px;
  margin-top: 44px;

  @media (max-width: 1199px) {
    margin: 0 auto;
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 13px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 9px;
  }
}

.description__container span {
  font-size: 18px;
  line-height: 27px;
  color: $Sapphire;

  @media (max-width: 1199px) {
    margin: auto;
    text-align: center;
  }

  @media (max-width: 767px) {
    text-align: left;
  }
}

.description__container p {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $Sapphire;
  margin-top: 37px;
  width: 377px;

  @media (max-width: 1199px) {
    margin: auto;
    text-align: center;
    margin-top: 32px;
    width: 500px;
    margin-bottom: 44px;
  }

  @media (max-width: 767px) {
    width: 100%;
    text-align: left;
    margin-top: 23px;
    padding-right: 15px;
    margin-bottom: 37px;
  }
}

.description__paragraph {
  margin: 0;
  padding: 0;
  width: 366px;
  margin-top: 10px;

  @media (max-width: 1199px) {
    display: none;
  }
}

.description__paragraph p {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: $Sapphire;
}

.description__interacttive {
  margin: 0;
  padding: 0;
  width: 660px;
  position: relative;

  @media (max-width: 1199px) {
    width: 678px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.description__video {
  display: block;
  position: absolute;
  margin: auto;
  padding: 0;
  bottom: 0;
  right: 0;
  left: -419px;
  top: 398px;
  width: 364px;
  height: 228px;


  @media (max-width: 1199px) {
    width: 266px;
    height: 167px;
    top: 345px;
    left: 0;
  }

  @media (max-width: 767px) {
    top: 352px;
    margin: 0 auto;
    width: 320px;
  }
}

.description__img {
  @media (max-width: 1199px) {
    width: 678px;
    height: 345px;
  }

  @media (max-width: 767px) {
    width: 320px;
    height: auto;
    margin: 0 auto;
  }
}

.description__img img {
  @media (max-width: 1199px) {
    width: 678px;
    height: 345px;
  }

  @media (max-width: 767px) {
    width: 320px;
    height: 313px;
    margin: 0 auto;
  }
}

.description__video iframe {
  width: 364px;

  @media (max-width: 1199px) {
    width: 266px;
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}

.description__iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.description__button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/video.png");
  background-size: 100%;
  border: none;
  text-indent: -999em;
  overflow: hidden;
  opacity: 1;
  cursor: pointer;
}

.description__button::before {
  content: "";
  position: absolute;
  top: 28%;
  left: 37%;
  width: 100px;
  height: 100px;
  background-image: url("../img/svg/play.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 1;

  @media (max-width: 1199px) {
    top: 28%;
    left: 36%;
    background-image: url("../img/svg/play-tablet.svg");
    width: 73px;
    height: 73px;
  }

  @media (max-width: 767px) {
    left: 39%;
  }
}

.description__button:hover::before {
  @media screen and (min-width: 1200px) {
    opacity: 0.5;
  }
}

.is-active .description__button {
  opacity: 0;
  height: 0;
  transition-delay: 0s, 800ms;
}
