.feedback {
  width: 100%;

  @media (max-width: 767px) {
    margin-bottom: 12px;
  }
}

.feedback__wrapper {
  display: grid;
  justify-content: center;
  max-width: 100%;

  border-top: 1px solid $Sapphire;

  grid-template-columns: 1fr 1fr;

  @media (max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
}
