.form-feedback {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  padding: 67px 102px 67px 0;

  text-align: left;
  color: $color-default-white;

  background-color: $Sapphire;

  @media (max-width: 1199px) {
    display: block;
    padding: 65px 0 68px 0;
  }

  @media (max-width: 770px) {
    padding-left: 134px;
  }

  @media (max-width: 767px) {
    padding: 65px 15px 68px 15px;
  }
}

.form-feedback__container {
  max-width: 583px;
  margin: 0;

  @media (max-width: 1199px) {
    width: 100%;
  }
}

.form-feedback h3 {
  margin: 0 0 46px 0;

  font-size: 49px;
  line-height: 49px;
  font-family: "BN", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: 1199px) {
    margin: 0 auto 41px auto;

    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @media (max-width: 770px) {
    margin: 0;
    padding-left: 20px;

    text-align: left;
  }

  @media (max-width: 768px) {
    margin-bottom: 39px;
    padding-left: 0;
  }

  @media (max-width: 767px) {
    max-width: 290px;
    margin-bottom: 44px;

    font-size: 32px;
    line-height: 32px;
    text-align: left;
  }
}

.form-feedback__container {
  display: flex;
  flex-direction: column;
  max-width: 410px;

  @media (max-width: 1199px) {
    max-width: 471px;
    margin: 0 auto;
    align-items: center;
  }

  @media (max-width: 767px) {
    width: 100%;
    padding-right: 30px;
    padding-left: 20px;
  }

  @media (max-width: 320px) {
    max-width: 290px;
    padding: 0;
  }
}

.form-feedback__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
  }

  @media (max-width: 320px) {
    max-width: 290px;
  }
}

.form-feedback__content {
  display: flex;
  flex-direction: row;

  text-align: left;

  border-bottom: 2px solid $color-default-white;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.form-feedback__content--name {
  @media (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.form-feedback__content--phone {
  @media (max-width: 767px) {
    margin-bottom: 9px;
  }
}

.form-feedback__content label {
  margin-right: 5px;

  font-size: 14px;
  line-height: 16px;
}

.form-feedback__content input {
  width: 80%;
  padding-left: 10px;

  color: $color-default-white;

  background-color: $Sapphire;
  border: none;
  outline: $color-default-white;
}

.form-feedback__content input:focus {
  border-left: 2px solid $color-default-white;
}

.form-feedback__button {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;
  text-transform: uppercase;

  background-color: $Sapphire;
  border: 2px solid $color-default-white;

  &:hover {
    @media screen and (min-width: 1200px) {
      color: $Sapphire;

      background-color: $color-default-white;
    }
  }
}
