.reviews {
  width: 100%;
  margin-bottom: 117px;

  text-align: center;

  @media (max-width: 1199px) {
    margin-bottom: 100px;
  }

  @media (max-width: 767px) {
    margin-bottom: 72px;
  }
}

.reviews h2 {
  margin: 0 0 56px 0;

  font-size: 49px;
  line-height: 49px;
  font-family: "BN", "Arial", sans-serif;
  color: $Sapphire;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  @media (max-width: 1199px) {
    margin: 0 auto 42px auto;

    font-size: 42px;
    line-height: 42px;
    text-align: center;
  }

  @media (max-width: 767px) {
    margin-bottom: 47px;

    font-size: 32px;
    line-height: 32px;
    text-align: center;
  }
}

.reviews__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 560px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    align-items: stretch;
    width: 768px;
  }

  @media (max-width: 767px) {
    align-items: center;
    width: 100%;
  }
}

.reviews__carousel {
  width: 560px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  @media (max-width: 767px) {
    width: 226px;
  }
}

.reviews__list {
  display: flex;
  flex-direction: row;
  width: 9999px;
  margin: 0;
  padding: 0;

  transition: margin-left 250ms;
}

.reviews__item-container {
  padding-top: 10px;

  @media (max-width: 767px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
    padding-top: 6px;
  }
}

.reviews__img {
  margin-top: 10px;

  @media (max-width: 767px) {
    margin: 0;
    margin-left: 41px;
  }
}

.reviews__img img {
  display: block;
  width: 80px;

  @media (max-width: 767px) {
    float: left;
    width: 68px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;
  margin: 0;
  padding: 52px 60px 60px 60px;

  text-align: left;
  color: $color-default-white;

  background-color: $resolution-blue;

  @media (max-width: 767px) {
    flex-direction: column;
    width: 226px;
    padding: 34px 0 36px 0;
  }
}

.reviews__description {
  width: 328px;

  @media (max-width: 767px) {
    position: relative;

    width: 226px;
  }
}

.reviews__description h3 {
  margin: 0 0 15px 0;
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  @media (max-width: 767px) {
    position: absolute;
    top: -75px;
    left: 124px;

    width: 100px;
  }
}

.reviews__description p {
  display: block;
  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  @media (max-width: 767px) {
    width: 197px;
    margin: 0 auto;

    text-align: center;
  }
}

.reviews__toggle-container {
  position: absolute;
  top: 50%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 560px;
  margin: auto;

  @media (max-width: 767px) {
    width: 320px;
  }
}

.reviews__toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.reviews__toggle--prev {
  position: relative;
  top: 50%;
  left: -56px;

  width: 20px;
  height: 30px;

  @media (max-width: 1199px) {
    top: -15px;
    left: 44px;
  }

  @media (max-width: 767px) {
    top: -15px;
    left: 0;
  }
}

.reviews__toggle--next {
  position: relative;
  top: 50%;
  left: 62px;

  width: 20px;
  height: 30px;

  @media (max-width: 1199px) {
    top: -15px;
    left: 168px;
  }

  @media (max-width: 767px) {
    top: -15px;
    left: -14px;
  }
}

.reviews__toggle--prev::after {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;

  width: 16px;
  height: 32px;

  background-image: url("../img/svg/arrow-left.svg");
  background-repeat: no-repeat;
  opacity: 1;

  @media (max-width: 1199px) {
    top: -3px;
    left: 2px;
  }

  @media (max-width: 767px) {
    top: 0;
    left: 14px;

    width: 12px;
  }
}


.reviews__toggle--prev:hover::after {
  @media screen and (min-width: 1200px) {
    opacity: 0.5;
  }
}

.reviews__toggle--next::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;

  width: 16px;
  height: 32px;

  background-image: url("../img/svg/arrow-right.svg");
  background-repeat: no-repeat;

  @media (max-width: 1199px) {
    top: -2px;
    left: -1px;
  }

  @media (max-width: 767px) {
    top: 0;
    left: 10px;

    width: 12px;

    background-image: url("../img/svg/arrow-left.svg");
    transform: rotate(180deg);
  }
}

.reviews__toggle--next:hover::before {
  @media screen and (min-width: 1200px) {
    opacity: 0.5;
  }
}

.reviews__toggle--next:disabled::before,
.reviews__toggle--prev:disabled::after {
  cursor: default;
  opacity: 0.5;
}

.reviews__toggle:disabled {
  cursor: default;
}
