.subscription {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: $ghost-white;
  padding-top: 119px;
  padding-bottom: 121px;

  @media (max-width: 1199px) {
    padding-top: 51px;
    padding-bottom: 112px;
  }

  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
}


.subscription h2 {
  margin: 0 auto;
  font-family: "BN", "Arial", sans-serif;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: $Sapphire;
  margin-bottom: 39px;

  @media (max-width: 1199px) {
    width: 100%;
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 33px;
  }

  @media (max-width: 767px) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 21px;
  }
}

.subscription__tab-list {
  margin: 0 auto;
  padding: 0;
  width: 341px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 39px;
  position: relative;
  border-bottom: 1px solid $tab-color;

  @media (max-width: 1199px) {
    margin-bottom: 44px;
  }

  @media (max-width: 767px) {
    width: 290px;
  }
}

.subscription__tab-item {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 30px;
  color: $Sapphire;
  opacity: 50%;
  cursor: pointer;
  width: 113px;
  padding-bottom: 12px;

  @media (max-width: 1199px) {
    font-size: 18px;
    line-height: 27px;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    line-height: 24px;
    width: 60px;
  }

  &:hover {
    @media screen and (min-width: 1199px) {
      opacity: 100%;
    }
  }
}

.subscription__tab-item--1 {
  width: 67px;

  @media (max-width: 767px) {
    margin-right: 7px;
  }
}

.subscription__tab-item--6 {
  width: 88px;

  @media (max-width: 1199px) {
    width: 78px;
  }

  @media (max-width: 767px) {
    width: 77px;
  }
}

.subscription__tab-item--12 {
  width: 98px;

  @media (max-width: 1199px) {
    width: 93px;
  }

  @media (max-width: 767px) {
    width: 80px;
  }
}

.is-active {
  opacity: 100%;
  border-bottom: 2px solid $torch-red;
}

.subscription__wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  position: relative;

  @media (max-width: 1199px) {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width: 767px) {
    max-width: 500px;
    padding-right: 15px;
    padding-left: 15px;
  }

  @media (max-width: 320px) {
    width: 100%;
  }
}

.subscription h2::after {
  display: block;
  position: absolute;
  content: "";
  background-image: url("../img/dumbell.webp");
  background-repeat: no-repeat;
  width: 287px;
  height: 494px;
  right: 0;
  top: 1920px;

  @media (max-width: 1199px) {
    background-image: url("../img/dumbell-tablet.webp");
    top: 2869px;
    width: 346px;
    height: 372px;
    right: 0;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.subscription__list {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
  display: none;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;

  @media (max-width: 1199px) {
    width: 442px;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 767px) {
    width: 100%;
  }

  @media (max-width: 320px) {
    width: 100%;
  }
}

.is-open {
  display: grid;

  @media (max-width: 1199px) {
    display: flex;
  }
}

.subscription__item {
  margin: 0;
  padding: 0;
  width: 360px;
  background-color: $color-default-white;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 47px;
  padding-bottom: 57px;
  border: 7px solid $color-default-white;
  position: relative;


  @media (max-width: 1199px) {
    width: 100%;
    padding-top: 55px;
    margin-bottom: 40px;
    padding-bottom: 60px;
  }

  @media (max-width: 767px) {
    padding-top: 37px;
    padding-bottom: 46px;
    width: 100%;
    margin-bottom: 42px;
  }
}

.subscription__item:hover {
  @media screen and (min-width: 1199px) {
    border-image: $border-gradient;
    border-image-slice: 1;

    .subscription__button {
      background: $button-background;
      border: none;
      color: $color-default-white;
    }
  }
}

.subscription__item h3 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 40px;
  color: $Sapphire;
  margin-bottom: 5px;

  @media (max-width: 1199px) {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    font-size: 22px;
    line-height: 24px;
  }
}

.subscription__item span {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: $chambray;
  margin-bottom: 65px;

  @media (max-width: 767px) {
    margin-bottom: 53px;
  }
}

.subscription__item p {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;
  color: $egyptian-blue;
  margin-bottom: 34px;
  z-index: 100;

  @media (max-width: 767px) {
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 30px;
  }
}

.subscription__item p span {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 90px;
  color: $Sapphire;

  @media (max-width: 767px) {
    font-size: 48px;
    line-height: 72px;
  }
}

.subscription__item #ruoble {
  font-family: $ff-rouble;
}

.subscription__button {
  margin: 0 auto;
  padding: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $resolution-blue;
  width: 206px;
  padding-top: 24px;
  padding-bottom: 24px;
  border: 2px solid $resolution-blue;
  z-index: 200;
  text-align: center;
  user-select: none;
  cursor: pointer;
}

.subscription__shadow {
  position: absolute;
  margin: auto;
  padding: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: $tory-blue;
  left: 0;
  bottom: 0;
  right: 0;
  top: 131px;

  @media (max-width: 767px) {
    font-size: 80px;
    line-height: 120px;
    top: 94px;
  }
}
