@font-face {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Roboto Condensed"),
    url("../fonts/Robotocondensed.woff2") format("woff2"),
    url("../fonts/Robotocondensed.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src:
    local("Roboto Condensed"),
    url("../fonts/Robotocondensedbold.woff2") format("woff2"),
    url("../fonts/Robotocondensedbold.woff") format("woff");
}


@font-face {
  font-family: "BN";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("BN"),
    url("../fonts/bebas-neue-regular.woff2") format("woff2"),
    url("../fonts/bebas-neue-regular.woff") format("woff");
}

@font-face {
  font-family: "BN";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src:
    local("BN"),
    url("../fonts/bebas-neue-bold.woff2") format("woff2"),
    url("../fonts/bebas-neue-bold.woff") format("woff");
}
